<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Add Patient</title>
</head>
<body>
<div th:include="fragment/header::headrFragment"></div>
<form action="/appointments/add" method="post">
    <input type="date" name="date_time"><br>
    <select name="patient" >
        <option th:each="patient : ${patients}"
                th:value="${patient.id}"
                th:text="${patient.name + ' ' + patient.surname}">
        </option>
    </select><br>
    <select name="doctor" >
        <option th:each="doctor : ${doctors}"
                th:value="${doctor.id}"
                th:text="${doctor.name + ' ' + doctor.surname}">
        </option>
    </select><br>
    <input type="submit" value="create">
</form>
<div th:include="fragment/header::footerFragment"></div>
</body>
</html>