<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Patient</title>
</head>
<body>
<div th:include="fragment/header::headrFragment"></div>
<form action="/patients/add" method="post">
    <input type="text" name="name" value="name"><br>
    <input type="text" name="surname" value="surname"><br>
    <input type="date" name="dateOfBirthday" >
    <input type="submit" value="create">
</form>
<div th:include="fragment/header::footerFragment"></div>
</body>
</html>