<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appointments </title>
</head>
<body>
<h1>Appointments</h1>
<a href="/" >Beck </a><br>
<a href="/appointments/add" >Create Appointment </a>
<table border="1px">
    <tr>
        <th>id</th>
        <th>date_time</th>
        <th>patient</th>
        <th>doctor</th>
        <th>action</th>
    </tr>
    <tr th:each="appointment : ${appointments}">
        <td th:text="${appointment.id}"></td>
        <td th:text="${appointment.getDate_time}"></td>
        <td th:text="${appointment.getPatient().getName()+ ' ' +appointment.getPatient().getSurname() }"></td>
        <td th:text="${appointment.getDoctor().getName()+ ' ' + appointment.getDoctor().getSurname()}"></td>
        <td><a th:href="@{/appointments/remove(id=${appointment.id})}">Remove</a></td>
    </tr>
</table>
<div th:include="fragment/header::footerFragment"></div>
</body>
</html>