<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient</title>
</head>
<body>
<h1>Patient</h1>
<div th:include="fragment/header::headrFragment"></div>
<a href="/" >Beck </a><br>
<a href="/patients/add" >Create Patient </a>
<table border="1px">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>date_of_birthday</th>
        <th>action</th>
    </tr>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.id}"></td>
        <td th:text="${patient.name}"></td>
        <td th:text="${patient.surname}"></td>
        <td th:text="${patient.dateOfBirthday}"></td>
        <td><a th:href="@{/patients/remove(id=${patient.id})}">Remove</a></td>
    </tr>
</table>
<div th:include="fragment/header::footerFragment"></div>
</body>
</html>